<h2><%= @restaurant.name %></h2>
<div class="resto_show">
  <div class="card">
    <h4>Contacts</h4>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>

  <div class="card">
    <h4>Category</h4>
    <p><%= @restaurant.category %></p>
  </div>
</div>
<hr>

<h3>⭐️  Reviews ⭐️</h3>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant)%></p>

<div class="review-show">
  <ul>
    <% @reviews.each do |review| %>
      <li><%= "⭐️" * review.rating %><%= review.content %></li>
    <% end %>
  </ul>
</div>

